.dinolabsSettingsCheckbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 8px solid #999CA3;
    border-radius: 2px !important;
    background: linear-gradient(135deg, #DEDED3 0%, #fcfcfb 50%, #DEDED3 100%);
    cursor: pointer;
    transition:  0.6s ease-in-out;
    position: relative;
}

.dinolabsSettingsCheckbox:checked {
    background: #5C2BE2;
    border-color: #5C2BE2;
}

.dinolabsSettingsCheckbox:checked::after {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.dinolabsSettingsCheckbox:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(183, 148, 246, 0.2);
}

